.footer {
    background-color: $mainDarkColor;

    &__text {}

    &__container {}

    &__body {}
}

.text-footer {
    @include adaptiveValue("padding-top", 60, 30, 1);
    @include adaptiveValue("padding-bottom", 60, 30, 1);

    &__container {}

    &__title {
        text-align: center;
        font-weight: 700;
        font-size: rem(30);
        line-height: math.div(46, 30);
        @include adaptiveValue("font-size", 30, 18, 1);
        color: $mainOrange;

        &:not(:last-child) {
            margin-bottom: em(30, 30);
        }
    }

    &__text {
        color: $mainWhite;
        font-size: rem(18);
        @include adaptiveValue("font-size", 18, 14, 1);
        line-height: math.div(27, 18);

    }
}

.body-footer {

    @include adaptiveValue("padding-top", 100, 30, 1);
    @include adaptiveValue("padding-bottom", 50, 30, 1);
    display: grid;
    @include adaptiveValue("gap", 35, 25, 1);

    &__row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
        column-gap: rem(40);
        @include adaptiveValue("row-gap", 40, 15, 1);

        &:not(:last-child) {
            padding: 0px 0px rem(30) 0px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
    }

    &__bottom {
        color: rgba(255, 255, 255, 0.8);
        font-size: rem(14);
        line-height: math.div(27,14);
        @media (min-width: em(1200px)) {
            display: flex;
            justify-content: space-between;
            gap: rem(20);
        }
    }

    &__rules {
        max-width: rem(820);
    }

    &__copy {
        span {
            white-space: nowrap;
        }
    }

    &__item {}
}

.item-footer {

    &__spoller {}

}

.spoller-item-footer {
    &__item {}

    &__title {
        background-color: transparent;
        text-transform: uppercase;
        font-weight: 600;
        font-size: rem(18);
        line-height: math.div(22, 18);
        justify-content: space-between;
        color: $mainWhite;
        gap: rem(10);

        ._init & {
            width: 100%;
            display: flex;

            &::after {
                content: "\e90e";
                font-size: rem(8);
                @extend %ic;
                transition: transform 0.3s ease 0s;
                margin: em(5px, 8px) 0px 0px 0px;
            }
        }
    }

    &__body {
        @include adaptiveValue("padding-top", 30, 20, 1);
        @include adaptiveValue("padding-bottom", 30, 20, 1);

    }

    ._active {
        &::after {
            transform: rotate(-180deg);
        }
    }

    &__text {
        list-style: math.div(27, 18);
        color: $mainWhite;
        max-width: rem(320);

        a {
            color: $mainOrange;

            @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.menu-footer {
    &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 32, 20, 1);
    }

    &__list {}
    
    &__item {
        line-height: 1.5;
        display: flex;
        color: rgba(255, 255, 255, 0.8);
        
        &:not(:last-child) {
            margin-bottom: em(20px, 18px);
        }
        
        &::before {
            font-size: rem(18);
            margin: em(5px, 15px) em(10px, 15px) 0px 0px;
        }
    }    
   
    &__link {
        display: inline-flex;
        line-height: math.div(27, 18);

        &::before {
            font-size: rem(20);
            margin: em(5px, 15px) em(10px, 15px) 0px 0px;
        }
    }

    ._icon-mail {
        &::before {
            font-size: rem(13);
        }
    }
}

.social-footer {

    display: flex;
    gap: rem(24);

    &__item {}

    &__link {}
}

.spoller-item-footer {
    &__body {}
}

.footer-subscribe {
    &__label {
        color: rgba(255, 255, 255, 0.8);
        line-height: math.div(22, 18);
        display: block;

        &:not(:last-child) {
            margin-bottom: em(10px, 18px);
        }
    }

    &__line {
        display: flex;

        position: relative;

        .form-error {
            position: absolute;
            bottom: -15px;
            font-size: rem(10);
            color: red;
        }
    }

    &__input {
        border-radius: rem(3) 0 0 rem(3);
        background: rgba(255, 255, 255, 0.05);
        height: rem(48);
        padding: 0px rem(20);
        color: $mainWhite;
        width: 100%;
        border: 1px solid $mainWhite;
        border-right: none;
    }

    &__button {
        border-radius: 0 rem(3) rem(3) 0;
        flex: 0 0 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $mainOrange;

        &::before {
            transform: rotate(-90deg);
            color: $mainWhite;
            font-size: rem(8);
        }
    }
}