@font-face{
	font-family: GreatVibes;
	font-display: swap;
	src: url("../fonts/GreatVibes-Regular.woff2") format("woff2"), url("../fonts/GreatVibes-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: RemachineScript_Personal_Use;
	font-display: swap;
	src: url("../fonts/RemachineScript_Personal_Use.woff2") format("woff2"), url("../fonts/RemachineScript_Personal_Use.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
